<p id="notice"><%= notice %></p>

<h1>Supply Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supply_sites.each do |supply_site| %>
      <tr>
        <td><%= supply_site.name %></td>
        <td><%= supply_site.capacity %></td>
        <td><%= link_to 'Show', supply_site %></td>
        <td><%= link_to 'Edit', edit_supply_site_path(supply_site) %></td>
        <td><%= link_to 'Destroy', supply_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supply Site', new_supply_site_path %>
