<p id="notice"><%=notice %></p>

<h1>Optimization</h1>

<%= link_to "Supply Site", supply_sites_path %>
<%= link_to "Demand Site", demand_sites_path %>
<%= link_to "Transportation", transportations_path %>

<br><br>

<%= link_to "Solve", problem_solve_path %>
<%= link_to "Read", problem_read_path %>


