<p id="notice"><%= notice %></p>

<h1>Transportations</h1>

<table>
  <thead>
    <tr>
      <th>Supply site</th>
      <th>Demand site</th>
      <th>Cost factor</th>
      <th>Transported amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transportations.each do |transportation| %>
      <tr>
        <td><%= transportation.supply_site.name %></td>
        <td><%= transportation.demand_site.name %></td>
        <td><%= transportation.cost_factor %></td>
        <td><%= transportation.transported_amount %></td>
        <td><%= link_to 'Show', transportation %></td>
        <td><%= link_to 'Edit', edit_transportation_path(transportation) %></td>
        <td><%= link_to 'Destroy', transportation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Transportation', new_transportation_path %>
