<%= form_with(model: demand_site, local: true) do |form| %>
  <% if demand_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demand_site.errors.count, "error") %> prohibited this demand_site from being saved:</h2>

      <ul>
      <% demand_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :demand %>
    <%= form.text_field :demand %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
